discord.py # The discord API Wrapper library that we use
python-dotenv # Loading .env files for config etc
psycopg[binary] # Used for postgresql
httpx # Used for requests
aiohttp>=3.8.0 # not directly required, pinned by Snyk to avoid a vulnerability